.login-wrapper {
  width: 400px;
  /* margin-left: auto;
  margin-right: auto;
  margin-top: 3em; 
  margin-bottom: 3em; */
  border-radius: 10px;
  background-color: #ffff;
  padding: 1.8rem;
  box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.1);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
  text-align: center;
  font-weight: bold;
  margin: 0;
}

.or {
  text-align: center;
  font-weight: bold;
  border-bottom: 2px solid rgb(245 239 239);
  line-height: 0.1em;
  margin: 25px 0;
}

.email-login {
  display: flex;
  flex-direction: column;
}
.email-login label {
  color: rgb(170 166 166);
  font-size: 15px;
}

input[type='email'],
input[type='password'],
input[type='text'],
input[type='number'] {
  padding: 15px 20px;
  margin-top: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 15px;
}

.cta-btn {
  background-color: #7209b7;
  color: white;
  padding: 16px 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border-radius: 10px;
  border: none;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}
.cta-btn:hover {
  cursor: pointer;
  background-color: #f72585;
  transition: all 0.3s ease-out;
}

.authError {
  text-align: center;
  color: red;
  padding-bottom: 1rem;
}
.signup {
  text-align: center;
  display: block;
}

.signup a {
  text-decoration: none;
  color: #9518fc;
}
